<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Spring MVC Application</display-name>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>servlet.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>

    <servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ImageDownload</servlet-name>
		<servlet-class>servlet.ImageDownloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ImageDownload</servlet-name>
		<url-pattern>/imageDownload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAdvertisement</servlet-name>
		<servlet-class>servlet.CreateAdvertisementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUserServlet</servlet-name>
		<servlet-class>servlet.CreateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteVehicleServlet</servlet-name>
		<servlet-class>servlet.DeleteVehicleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateUserAdvertisementServlet</servlet-name>
		<servlet-class>servlet.ValidateUserAdvertisementServlet</servlet-class>
	</servlet>



	<servlet>
		<servlet-name>Photo2UploadServlet</servlet-name>
		<servlet-class>servlet.Photo2UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAdvertisemeentsServlet</servlet-name>
		<servlet-class>servlet.GetAdvertisemeentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAdvertisemeentsServlet</servlet-name>
		<url-pattern>/GetAdvertisemeentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Photo2UploadServlet</servlet-name>
		<url-pattern>/Photo2UploadServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>ValidateUserAdvertisementServlet</servlet-name>
		<url-pattern>/ValidateUserAdvertisement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVehicleServlet</servlet-name>
		<url-pattern>/DeleteVehicle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUserServlet</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateAdvertisement</servlet-name>
		<url-pattern>/CreateAdvertisement</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<context-param>
		<description>Location to store uploaded file</description>
		<param-name>file-upload</param-name>
		<param-value>
			c:\Users\malindak\Desktop\IKMAN\
		</param-value>
	</context-param>

</web-app>